.newRecipeSection .recipeReducerErrorMsg{
  padding-top: 0;
  color: red;
}

.newRecipeHeader{
  font-family: 'Sacramento', cursive;
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 10px;
  font-size: 32px;
  letter-spacing: 1px;
  padding: 20px;
}

.recipeTitle label, .newRecipeInstructions label{
  font-size: 22px;
  color: #28b8be;
  font-weight: bold;
}

.recipeTitle input{
  width: 250px;
  border: none;
  border-bottom: 1px solid black;  
  margin-left: 20px;
  margin-top: 10px;
}

.recipeTitle{
  width: 85%;
  margin: auto;
  padding: 20px 10px;
}

.newRecipeInstructions{
  width: 80%;
  margin: auto;
  padding: 20px 0px;    
}

.newRecipeInstructions div{
  display: grid;
}

.newRecipeInstructions textarea{
  margin-top: 10px;
  height: 200px;
  border: solid 1px black;
}

.submitNewRecipeButton{
  margin: auto;
  display: block;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 10px 20px;
  border: solid 2px black;
  background-color: white;
  font-weight: bold;
}

.submitNewRecipeButton:hover, #fileUpload::-webkit-file-upload-button:hover{
  cursor: pointer;
  background-color: black;
  color:white;
}

#fileUpload::-webkit-file-upload-button {
  background: white;
  padding: 10px;
  border: black 2px solid;
  font-weight: bold;
}

@media  (min-width: 640px){

  .newRecipeHeader{
    width: 50%;
    font-size: 50px;
  }

  .recipeTitle{
    width: fit-content;
    margin: 10px;
    padding: 20px;
    margin: auto;
    margin-top: 10px;
  }

  .recipeTitle input{
    width: 400px;
  }

  .newRecipeInstructions{
    width: 550px;
    margin: auto;
  }

}