.landingPageHeader{
  width: 100%;
  padding: 20px 0px;
  background-color: black;
}

.landingPageHeader a{
  font-size: 17px;
  padding-left: 12px;
  color:white;
  text-decoration: none;
}

.landingPageHeader a:hover{
  color: #28b8be;
  font-weight: bold;
}

@media (min-width: 640px){
  
  .landingPageHeader{
    padding: 30px;
  }

  .landingPageHeader a{
    padding-left: 20px;
    font-size: 19px;
  }
}

