.landingPageHeader{
  width: 100%;
  padding: 20px 0px;
  background-color: black;
}

.landingPageHeader a{
  font-size: 15px;
  padding-left: 12px;
  color:white;
  text-decoration: none;
}

@media (min-width: 640px){
  .landingPageHeader{
    padding: 30px;
  }

  .landingPageHeader a{
    padding-left: 20px;
    font-size: 18px;
  }
}

