.apiSearchErrorMsg{
  font-size: 20px;
}

.searchInstructions{
  letter-spacing: 1px;
  width: 90%;
  margin: auto;
}
.searchInstructions span{
  color: #28b8be;
  font-weight: bold;
}

.inspirationSearchDiv{
  text-align: center;
  padding: 20px 0px;
  min-height: stretch;
  max-height: fit-content;
  background-color: #e9ebee;
}

.css-p8afu3{
  margin-top: 30% !important;
}

.inspirationSearchInput{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: fit-content;
  margin: auto;
  grid-gap: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.inspirationSearchInput input{
  border: none;
  border-bottom: solid 1px black;
  width: 170px;
  height: 30px;
  background-color: #e9ebee;
}

.inspirationSearchInput button{
  height: fit-content;
  background-color: white;
  border: solid 2px black;
  padding: 5px;
  font-weight: bold;
}

.inspirationSearchInput button:hover{
  background-color: black;
  color: white;
}

.searchResultsImg{
  height: 200px;
}

.image-gallary-slides{
  width: 250px;
  margin: auto;
}

.image-gallery-image{
  width: 250px;
  margin:auto;
  position: relative;
}

.image-gallery-image img{
  display: block;
  margin:auto;
  height: 250px;
  width: 250px;
  margin: 50px 0px;
  border-radius: 100%;
}

.image-gallery-description{
  text-align: center;
  font-size: 30px !important;
  font-weight: bold;
  text-decoration: none;
  width: 100%;
  background: #e9ebee !important;
  opacity: .7;
  top: 45%;
  height: fit-content;
  color: black !important;
  text-transform: capitalize;
}

.image-gallery-description:hover{
  color: #28b8be !important;
}

.image-gallery-slide-wrapper {
  width: 95%;
  margin: auto;
}

.image-gallery-thumbnails{
  width: 85%;
  margin:auto;
  margin-top: 30px;
}

.image-gallery-slide{
  background: none;
}

@media (min-width: 950px){

  .searchInstructions{
    font-size: 18px; 
  }

  .inspirationSearchDiv{
    padding: 40px;
  }

  .css-p8afu3{
    margin-top: 10% !important;
  }

  .inspirationSearchInput input{
    width: 200px;
  }

  .image-gallery-slide-wrapper {
    width: 65%;
  }

  .image-gallery{
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    width: 900px;
  }

  .image-gallery-image{
    width: 400px;
  }

  .image-gallery-image img{
    height: 400px;
    width: 400px;
    border: none;
  }

  .image-gallery-description{
    font-size: 40px !important;
    background: white !important;
  }

}