.mainHeader{
  width: 100%;
  padding: 20px 0px;
  background-color: black;
}

.mainHeader a{
  font-size: 15px;
  padding-left: 10px;
  color:white;
  text-decoration: none;
}

.mainHeader a:hover{
  color: #28b8be;
  font-weight: bold;
}

@media (min-width: 640px){
  .mainHeader{
    padding: 30px;
  }

  .mainHeader a{
    padding-left: 20px;
    font-size: 18px;
  }
}  