.registerInputDiv{
  width: 80%;
  border: solid 2px black;
  padding: 20px;
  margin: auto;
}  

.registerInputDiv div{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.registerInputDiv label{
  font-size: 18px;
  font-weight: bold;
  color: #28b8be;
}

.registerInputDiv input{
  border: none;
  border-bottom: 1px solid black;
}

.registerInputDiv .formError{
  grid-column: span 2;
}

@media (min-width: 900px){

  .registerInputDiv{
    width: 40%;
    padding: 40px;
  }

  .registerInputDiv div{
    grid-template-columns: 1fr 3fr;
  }

  .registerInputDiv label{
    font-size: 20px;
  }

}