.recipeReducerErrorMsg{
  margin: 0;
  padding-top: 80px;
  text-align: center;
}

.noRecipesYetDiv{
  position: relative;
  width: fit-content;
  margin: auto;
  padding-top: 25%;
}

.backgroundLogoImg{
  height: 300px;
  opacity: .4;
  border-radius: 100%;
  display: block;
  margin: auto;
}

.noRecipesYet{
  position: absolute;
  text-align: center;
  font-size: 19px;
  top: 50%;
}

.noRecipesYet a{
  color: #0a959b;
}

.noRecipesYet a:hover{
  color: black;
}

.myRecipesDiv{
  min-height: stretch;
  max-height: fit-content;
  background-color: #e9ebee;
  padding-bottom: 30px;
}

.myRecipesHeader{
  text-align: center;
  margin: 0;
  padding-top: 35px;
  font-size: 45px;
  text-decoration: underline;
  font-family: 'Sacramento', cursive;
}

.searchMyRecipes div{
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 25px;
  width: 75%;
  margin-top: 20px;
}

.searchMyRecipes input{
  border: none;
  border-bottom: 2px solid black;
  background: none;
}

.searchMyRecipes label{
  max-width: 130px;
  font-size: 16px;
  align-self: end;
  font-weight: bold;
  color: #28b8be;
}

.searchMyRecipes button{
  display: block;
  margin: auto;
  background-color: white;
  padding: 5px 10px;
  border: solid 2px black;
  font-size: 16px;
  font-weight: bold;
}

.searchMyRecipes button:hover{
  background-color: black;
  cursor: pointer;
  color:white;
}

.searchMyRecipes .formError{
  grid-column: span 2;
}

@media (min-width: 800px){

  .noRecipesYetDiv{
    padding: 4% 0%;
  }

  .backgroundLogoImg{
    height: 450px;
  }

  .noRecipesYet{
    font-size: 25px;
    top: 40%;
  }

  .myRecipesHeader{
    font-size: 60px;
    text-decoration: none;
  }

  .myRecipesDiv form{
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: fit-content;
    margin: auto;
  }

  .searchMyRecipes div{
    width: fit-content;
    max-width: 350px;
    margin-top: 30px;
    margin-bottom: 10px;
    grid-template-rows: 3fr 20px;
  }

  .searchMyRecipes label{
    font-size: 20px;
  }

  .searchMyRecipes button{
    padding: 10px 15px;
    font-size: 18px;
  }
}